# Python virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# SQLite database files
*.sqlite3
*.db

# Compiled files
*.so
*.o
*.a
*.pyc

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Ignore all env-specific config files
*.env
*.env.*